* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  color: #fff;
}
h1 {
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 24px;
  font-weight: 600;
}
.image-container {
  background-image: url("/src/img/splash-image.png");
  background-color: rgba(36, 36, 36, 0.493);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border: 2px solid black;
  height: 110vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.text-container {
  margin-top: 400px;
  margin-left: 60px;
  position: relative;
 
  
}